
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

:root {
  --pastel-pink: lightgreen;
  --pastel-blue: #717dad;
}

.light-theme {
  --default-bg: var(--pastel-pink);
}

.dark-theme {
  --default-bg: var(--pastel-blue);
}

/* Experience */
#experience{
    position:fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#experience-canvas{
    width: 100%;
    height: 100%;
}

/* Utilities */
.hidden{
    display: none;
}

/* Loading Screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 12px solid white;
  z-index: 10;
  pointer-events: all;
  transition: opacity 0.5s ease;
}

.enter-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 36px;
  background: lightgreen;
  border: 3px solid white;
  padding: 8px 20px;
  opacity: 1;
}

.enter-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: lightgreen;
}


/* Text Display */

.datePin {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    z-index: 9999;
    font-family: Arial, sans-serif;
    text-align: right;
}

.timePin {
    position: fixed;
    top: 50px;
    left: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    z-index: 9999;
    font-family: Arial, sans-serif;
    text-align: right;
}

/* Control Buttons */

.showSwitchPin, .livingRoomPin, .hallwayPin, .stairPin, .bedroom1Pin, .bedroom2Pin, .masterBedRoomPin, .secondFloor1Pin, .secondFloor2Pin {
    position: fixed;
    /* top: 100px;
    right: 20px; */
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: lightgreen; /* Light green background */
    border: 3px solid white;
    padding: 11px 2px;
    /* border-radius: 10px; */
    font-family: Arial, sans-serif;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}   

.showSwitchPin:hover, .livingRoomPin:hover, .hallwayPin:hover, .stairPin:hover, .bedroom1Pin:hover, .bedroom2Pin:hover, .masterBedRoomPin:hover, .secondFloor1Pin:hover, .secondFloor2Pin:hover {
    background-color: #717dad;
    color: white;
}

.showSwitchPin {
    top: 100px;
    right: 20px;
}

.livingRoomPin {
    top: 100px;
    right: 200px;
    width: 45px;
}
.hallwayPin {
    top: 100px;
    right: 140px;
    width: 45px;
}
.stairPin {
    top: 100px; 
    right: 80px;
    width: 45px;
}
.bedroom1Pin {
    top: 155px;
    right: 200px;
    width: 45px;
}
.bedroom2Pin {
    top: 155px;
    right: 140px;
    width: 45px;
}
.masterBedRoomPin {
    top: 155px;
    right: 80px;
    width: 45px;
}
.secondFloor1Pin {
    top: 210px;
    right: 200px;
    width: 45px;
}
.secondFloor2Pin {
    top: 210px;
    right: 140px;
    width: 45px;
}


.arrowUpPin, .arrowDownPin, .threeDPin {
    position: fixed;
    font-size: 20px;
    font-weight: 900;
    color: white;
    background-color: lightgreen;
    border: 3px solid white;
    /* padding: 10px 10px; */
    /* border-radius: 30px; */
    font-family: Arial, sans-serif;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: right;
}

.arrowUpPin:hover, .arrowDownPin:hover, .threeDPin:hover {
    background-color: #717dad;
    color: white;
}

.arrowUpPin {
    top: 490px;
    right: 20px;
    padding: 5px 10px;
}
.arrowDownPin {
    top: 540px;
    right: 20px;
    padding: 5px 10px;
}

.threeDPin {
    top: 620px;
    right: 20px;
    padding: 10px 10px;
}


/* Toggle Theme Button */
.theme-mode-toggle-button {
  z-index: 500;
  position: absolute;
  top: 20px;
  right: 20px;
  background: var(--default-bg);
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  padding: 8px;
  cursor: pointer;
  transition: background 0.4s ease-in;
  transition-delay: 0.1s;
}

/* For Mobile Devices */

@media (max-width: 600px) {

    .enter-button {
        font-size: 25px;
    }

    .datePin {
        font-size: 16px;
        top: 50px;
        left: 10px;
    }
    .timePin {
        font-size: 16px;
        top: 75px;
        left: 10px;
    }


}